@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  display: flex;
}

/* Illustrations */
.left {
  flex: 1;
  height: 100vh;
  background-color: #7f77ff;
  color: white;
  position: relative;
}

h1 {
  text-align: center;
  margin: 50px auto;
}

img {
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  list-style: none;
}

li {
  display: inline;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  padding: 20px;
}

/* Login Form */
.login-form {
  width: max-content;
  padding: 10px;
  box-sizing: border-box;
  margin: auto 30px;
}
.login-form input[type="email"],
.login-form input[type="password"] {
  background-color: rgba(212, 209, 209, 0.74);
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding: 20px;
}

.login-form ::placeholder,
.login-form label,
.login-form a {
  font-size: 13px;
  font-weight: bold;
}

.login-form input[type="email"] {
  margin-bottom: 10px;
}
.login-form input[type="submit"] {
  width: 100%;
  background-color: #7f77ff;
  color: #fff;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
.or {
  margin: 50px auto;
}
.or h3 {
  text-align: center;
}

.connect {
  display: block;
  border: none;
  width: 100%;
  padding: 5px;
  border: 1px solid #7068f1;
  border-radius: 15px;
  font-size: 20px;
  margin: 10px auto;
  background-color: #fff;
}

#remember-me {
  width: 10px;
  height: 10px;
}

.login-form #forgot-password {
  margin-left: 80px;
}

.login-form h2,
.login-form #remember-me {
  margin-left: 8px;
}

.login-form h2 {
  color: #7068f1;
  margin: 20px auto;
}

.login-form a {
  text-decoration: none;
  color: #7068f1;
}

.login-form p {
  text-align: center;
  margin: 150px auto 0 auto;
  font-size: 13px;
  font-weight: bold;
}

fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

fieldset legend {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bolder;
}
